<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <test name="Regression1">
        <classes>
            <!--<class name="tests.SearchTest"/>-->
            <!--<class name="tests.CompareMoreTest"/>-->
            <class name="tests.CompareElementsTest"/>
            <class name="tests.SearchInMarketTest"/>
            <class name="tests.SortedTest"/>
            <class name="tests.TransitionTest"/>
        </classes>
    </test>
</suite>
